.wrapper-fluid {
  margin: 0 auto;
  width: 100%;
  max-width: $document-width;
}

#container {
  position:relative;  
  margin:0 auto;
  margin-top:50px;
  width:768px;
  height:480px; 
  border:5px solid #000; 
  background-color: #000;
  background: url('../img/min/start_bg.png') no-repeat;  
}

#playground {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);  
  background-size: 100%;  
  cursor:pointer;
  /*width:100%;*/
}

#welcome{
  position: absolute;
  height:100%;
  left:30%;
}

#logo{ padding-left: 50px;}

#start_outer{
  position:absolute;
  bottom:10px;
  background: url("../img/min/wood.png") no-repeat;  
  margin: 0 auto;
  height:100px;
  width:330px;
  color:#fff;
  text-align: center;
}

#fps, #coin, #energy, #distance { color:#fff;}
#fps{ position: absolute; bottom: 20px; right:0;}
#coin { text-align: right;}
#distance { text-align:right;}

#hud{
  position:absolute; 
  top:40px; 
  right:50px;
  display:none;
}
.hud_container{
  position:relative;
}
.hud_icon{
  position:absolute;
  left:170px;  
  bottom:-4px;
}
#energy_outer{ 
  width:180px; 
  border:3px solid #93ac8c;   
  background-color: #c5d9e6;
}
#energy_bar { 
  background-color: #079365;  
  width:100%; 
}
.energy{
  height:29px;
  -webkit-border-top-left-radius: 20px;
  -webkit-border-bottom-left-radius: 20px;
  -moz-border-radius-topleft: 20px;
  -moz-border-radius-bottomleft: 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

#start { color:#000; font-size: 30px; font-weight: bold; }
#start:hover { cursor: pointer; color:#fff; }

.gameover{  
  position:absolute;  
  top:60px;
  border:4px solid #d0b96a;
  border-radius: 15px; 
  text-align: center; 
}
.inner{
  position: absolute;
  top:0;
  opacity: 0.5;
  height:100%;
  width:100%;
  background-color:#fff;
  border-radius: 10px;
}

.form{
  position: absolute;
  top:30px;
  padding: 20px;
  text-align: left;  
}

.form table{
  border-spacing: 0;
  border-collapse: collapse;
  border:0;
}

.form table td{
  padding:5px;
}

.form table td input{
  width:250px;
  border:0;
  box-shadow:0 0 20px #333;
}

.score{
  position: absolute;
  top:30px;
  width:100%;
  /*text-align: center;*/
}

.score ol{
  height:220px;
  overflow: auto;
}

.score ol li{
  text-align: left;
}

#register{
  text-align: right;
}
#register:hover{
  cursor:pointer;
}

#gameover_1, #loading{ 
  position: absolute;
  top:60px; 
  left:250px;  
  display: none;
}

#gameover_2{
  left:260px;
  width:260px;
  height:340px;  
  display: none;
}

#gameover_3{      
  top:60px;
  left:170px;
  width:400px;
  height:300px;
  display: none;
}

#gameover_4{      
  top:60px;
  left:250px;
  width:290px;
  height:340px; 
  display: none;
}

.gameover .title{
  position:relative;
  top:-30px;
  z-index: 999;
}

#show_bottom{  
  padding:10px;
  text-align: center;
}
#show_bottom hr{
  background-color: #000;
  color:#000;
}
#submit:hover, #playagain:hover{
  cursor: pointer;
}

#top25 .list{
  float:right;
}