/*=====================================================

Global Classes
  
 ======================================================*/

.wrapper-fluid {
  margin: 0 auto;
  width: 100%;
  max-width: $document-width;
}

.bg-wood {
  display: block;
  background: url('../img/min/wood.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  text-align: center;
}

.screen-splash {
  position: relative;
  width: 768px;
  height: 480px;
  //border: 5px solid #b39658;
  margin: 0 auto;
  background: url('../img/min/bg_start.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  //@include box-sizing(content-box);

  @include respond(all-phones) {
    width: 100%;
    height: auto;
    padding-bottom: percentage(480px/768px);
  }
}

.content-container {
  @include border-radius(10px, 10px);
  background-color: rgba(255, 255, 225, 0.45);
  border: 3px solid #cebe7d;
}

.txt-loading, .txt-gameover {
  display: none;
  position: absolute;
  top: 30%; right: 0; left: 0;
  height: 30px;
  margin: auto;
  text-align: center;
  @include font-size(30px);
}

.bg-landing {
  width: 100%;
  height: 100%;
  background-image: url('../img/min/bg-landing.jpg');
  background-repeat: no-repeat;
  background-position: center top;
  @include background-size(cover);
}

.sponsors {
  max-width: 768px;
  margin: 0 auto;
  img { display: block; margin: 0 0 0 auto; }

  @include respond(all-phones) {
    display: none;
  }
}

.social-links {
  max-width: 768px;
  margin: 15px auto;
  text-align: center;
}

.border {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 5px solid #b39658;
  @include single-box-shadow;
}