@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/*=====================================================

 Base styles
  
 ======================================================*/
* html {
  font-size: 87.5%;
}

html {
  font-size: 14px;
  line-height: 1.21429em;
}

html * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  position: relative;
  background: white;
  font-family: "bd_cartoon_shoutregular";
  font-weight: 400;
  color: black;
  -webkit-font-smoothing: antialiased;
}
@media only screen and (max-width: 767px) {
  body {
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
    width: 100%;
    min-width: 0;
  }
}

img {
  max-width: 100%;
}

input {
  max-width: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  resize: none;
  -webkit-appearance: none;
  font-family: verdana;
  font-weight: normal;
  font-size: 14px;
  font-size: 1rem;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* Fonts */
@font-face {
  font-family: 'bd_cartoon_shoutregular';
  src: url("../fonts/bd_cartoon_shout-webfont.eot");
  src: url("../fonts/bd_cartoon_shout-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/bd_cartoon_shout-webfont.woff") format("woff"), url("../fonts/bd_cartoon_shout-webfont.ttf") format("truetype"), url("../fonts/bd_cartoon_shout-webfont.svg#bd_cartoon_shoutregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "bd_cartoon_shoutregular";
  font-weight: 400;
  text-rendering: optimizeLegibility;
  padding-top: 0.204em;
  line-height: 0.86336em;
  padding-bottom: 0.204em;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: black;
}

@media only screen and (max-width: 767px) {
  h1, h2, h3, h4, h5, h6 {
    word-wrap: break-word;
  }
}
h1 {
  font-size: 44px;
  font-size: 3.14286rem;
}

h2 {
  font-size: 37px;
  font-size: 2.64286rem;
}

h3 {
  font-size: 27px;
  font-size: 1.92857rem;
}

h4 {
  font-size: 23px;
  font-size: 1.64286rem;
}

h5 {
  font-size: 17px;
  font-size: 1.21429rem;
}

h6 {
  font-size: 14px;
  font-size: 1rem;
}

/*=====================================================
 
  Links & Paragraph styles
  
  ======================================================*/
p {
  font-family: "bd_cartoon_shoutregular";
  font-weight: 400;
  margin-bottom: 8.5px;
  line-height: 1.21429em;
}

a {
  color: black;
  text-decoration: none;
  outline: 0;
  line-height: inherit;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -ms-touch-action: none;
}
a:hover {
  color: #404040;
}

address {
  line-height: 1.2em;
}

/*=====================================================

  Caption
  
 ======================================================*/
figcaption {
  font-family: "bd_cartoon_shoutregular";
  line-height: 1.2em;
}

/*=====================================================

  Superscript & subscript
  
 ======================================================*/
sup,
sub {
  height: 0;
  line-height: 1;
  vertical-align: baseline;
  _vertical-align: bottom;
  position: relative;
}

sup {
  bottom: 1ex;
}

sub {
  top: .5ex;
}

/*=====================================================

  Lists
  
 ======================================================*/
ul, ol {
  margin-bottom: 0.204em;
}

ul {
  list-style: none outside;
}

ol {
  list-style: decimal;
  margin-left: 30px;
}

ul.square, ul.circle, ul.disc {
  margin-left: 25px;
}
ul.square {
  list-style: square outside;
}
ul.circle {
  list-style: circle outside;
}
ul.disc {
  list-style: disc outside;
}
ul ul {
  margin: 4px 0 5px 25px;
}

ol ol {
  margin: 4px 0 5px 30px;
}

li {
  padding-bottom: 0.204em;
}

ul.large li {
  line-height: 21px;
}

dl dt {
  font-weight: bold;
  font-size: 14px;
  font-size: 1rem;
}

/*@include respond(portrait-tablets) {
  
  ul, ol, dl, p { text-align: left;}

}*/
/* Mobile */
em {
  font-style: italic;
  line-height: inherit;
}

strong {
  font-family: "bd_cartoon_shoutregular";
  font-weight: 700;
  line-height: inherit;
}

small {
  font-size: 56.4%;
  line-height: inherit;
}

h1 small, h2 small, h3 small, h4 small, h5 small {
  color: #777;
}

blockquote {
  line-height: inherit;
  color: #777;
  font-style: italic;
  text-indent: -18px;
  margin: 20px;
  padding: 30px 25px 30px 80px;
  background-color: #f3f3f3;
}
blockquote p {
  line-height: 20px;
  color: #777;
}
blockquote cite {
  display: block;
  font-size: 12px;
  font-size: 1.2rem;
  color: black;
}
blockquote cite:before {
  content: "\2014 \0020";
}
blockquote cite a {
  color: black;
}
blockquote cite a:visited {
  color: black;
}

blockquote:before {
  display: inline-block;
  position: relative;
  content: "\“";
  font-size: 95px;
  font-size: 6.78571rem;
  position: relative;
  top: 40px;
  left: -25px;
}

hr {
  border: 1px solid #cccccc;
  clear: both;
  margin: 16px 0 18px;
  height: 0;
}

abbr, acronym {
  text-transform: uppercase;
  font-size: 90%;
  color: #222;
  border-bottom: 1px solid #cccccc;
  cursor: help;
}

abbr {
  text-transform: none;
}

/**
   * Print styles.
 *
 * Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/
 * Credit to Paul Irish and HTML5 Boilerplate (html5boilerplate.com)
 */
@media print {
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  /* Black prints faster: sanbeiji.com/archives/953 */
  p a {
    color: black !important;
    text-decoration: underline;
  }
  p a:visited {
    color: black !important;
    text-decoration: underline;
  }
  p a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  .ir a:after {
    content: "";
  }

  a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }

  /* Don't show links for images, or javascript/internal links */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  /* css-discuss.incutio.com/wiki/Printing_Tables */
  tr, img {
    page-break-inside: avoid;
  }

  @page {
    margin: 0.5cm;
}

  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  h2, h3 {
    page-break-after: avoid;
  }
}
/*=====================================================

Global Classes
  
 ======================================================*/
.wrapper-fluid {
  margin: 0 auto;
  width: 100%;
  max-width: 960px;
}

.bg-wood, .content-welcome .btn-start, .content-welcome .btn-instruction, .content-instruction .content-title, .content-score .btn-submit, .content-score .btn-replay, .content-registration .content-title, .content-registration .btn-register, .content-leaderboard .content-title {
  display: block;
  background: url("../img/min/wood.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  text-align: center;
}

.screen-splash {
  position: relative;
  width: 768px;
  height: 480px;
  margin: 0 auto;
  background: url("../img/min/bg_start.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
@media only screen and (max-width: 767px) {
  .screen-splash {
    width: 100%;
    height: auto;
    padding-bottom: 62.5%;
  }
}

.content-container, .content-instruction .container-instruction, .content-score .container-score, .content-registration .container-registration, .content-leaderboard .container-leaderboard {
  -webkit-border-radius: 10px 10px;
  -moz-border-radius: 10px / 10px;
  border-radius: 10px / 10px;
  background-color: rgba(255, 255, 225, 0.45);
  border: 3px solid #cebe7d;
}

.txt-loading, .txt-gameover {
  display: none;
  position: absolute;
  top: 30%;
  right: 0;
  left: 0;
  height: 30px;
  margin: auto;
  text-align: center;
  font-size: 30px;
  font-size: 2.14286rem;
}

/* Import all/some custom components here */
/*=====================================================

 Custom - Welcome
  
 ======================================================*/
.content-welcome {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.content-welcome .logo {
  position: absolute;
  width: 26.82292%;
  height: auto;
  top: 10px;
  right: 0;
  left: 0;
  margin: auto;
}
.content-welcome .btn-start, .content-welcome .btn-instruction {
  position: absolute;
  right: 0;
  bottom: 90px;
  left: 0;
  margin: auto;
  width: 240px;
  height: 79px;
  line-height: 77px;
  font-size: 24px;
  font-size: 1.71429rem;
}
@media only screen and (max-width: 568px) {
  .content-welcome .btn-start, .content-welcome .btn-instruction {
    bottom: 60px;
    height: 40px;
    line-height: 38px;
    font-size: 14px;
    font-size: 1rem;
  }
}
.content-welcome .btn-instruction {
  bottom: 15px;
}

/*=====================================================

 Custom - HUD
  
 ======================================================*/
.content-hud {
  display: none;
  position: absolute;
  top: 20px;
  right: 20px;
}
@media only screen and (max-width: 568px) {
  .content-hud {
    top: auto;
    bottom: 5px;
    right: 5px;
  }
}
.content-hud .hud-icon {
  position: absolute;
  top: 0;
  right: 0;
  width: 35px;
  height: auto;
  text-align: center;
  color: white;
}
.content-hud .hud-distance,
.content-hud .hud-coins,
.content-hud .hud-energy {
  position: relative;
  padding-right: 40px;
  height: 35px;
  line-height: 33px;
}
@media only screen and (max-width: 568px) {
  .content-hud .hud-distance,
  .content-hud .hud-coins,
  .content-hud .hud-energy {
    float: left;
    margin-left: 15px;
  }
}
.content-hud .energy-wrapper {
  position: relative;
  top: 5px;
  margin-right: -35px;
  width: 180px;
  height: 25px;
  border: 2px solid #cebe7d;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  border-radius: 25px;
  overflow: hidden;
}
.content-hud .energy-wrapper .energy-bar {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #049364;
  width: 100%;
  height: 100%;
}
.content-hud .txt-distance, .content-hud .txt-coins {
  display: block;
  text-align: right;
  color: white;
}

/*=====================================================

 Custom - Instructions
  
 ======================================================*/
.content-instruction {
  display: none;
  position: absolute;
  padding: 20px;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.content-instruction .content-title {
  position: relative;
  width: 200px;
  margin: 0 auto;
  height: 50px;
  line-height: 48px;
  font-size: 18px;
  font-size: 1.28571rem;
  z-index: 2;
}
.content-instruction .container-instruction {
  position: relative;
  width: 100%;
  height: 92.70833%;
  max-height: 360px;
  max-width: 320px;
  margin: -25px auto;
  padding: 40px 15px;
}
.content-instruction .btn-close {
  position: absolute;
  font-family: verdana;
  font-weight: bold;
  top: 5px;
  right: 10px;
}
.content-instruction .instruction-1 .btn-next {
  position: absolute;
  right: 10px;
  bottom: 10px;
}
.content-instruction .instruction-1 .img-legend {
  display: block;
  margin: 0 auto;
  max-width: none;
  max-height: 100%;
  margin-bottom: 15px;
}
@media only screen and (max-width: 568px) {
  .content-instruction .instruction-1 .img-legend {
    float: left;
    margin-bottom: 0;
    margin-right: 15px;
  }
}
.content-instruction .instruction-1 .txt-legend {
  text-align: center;
}
@media only screen and (max-width: 568px) {
  .content-instruction .instruction-1 .txt-legend {
    text-align: left;
    padding-top: 30px;
  }
}
.content-instruction .instruction-2 {
  display: none;
  height: 100%;
}
.content-instruction .instruction-2 .wrapper-legend {
  height: 100%;
  overflow: auto;
}
.content-instruction .instruction-2 .list-legend {
  position: relative;
  padding-bottom: 15px;
}
.content-instruction .instruction-2 .img-legend {
  position: absolute;
  top: 0;
  left: 0;
}
.content-instruction .instruction-2 .txt-legend {
  display: table-cell;
  padding-left: 60px;
  font-size: 11px;
  font-size: 0.78571rem;
  height: 50px;
  vertical-align: middle;
}
.content-instruction .instruction-2 .btn-play {
  position: absolute;
  right: 10px;
  bottom: 10px;
}
.content-instruction .instruction-2 .btn-back {
  position: absolute;
  left: 10px;
  bottom: 10px;
}
@media only screen and (max-width: 568px) {
  .content-instruction .instruction-2 .btn-play, .content-instruction .instruction-2 .btn-back {
    width: 75px;
    bottom: 2px;
  }
}

/*=====================================================

 Custom - Score
  
 ======================================================*/
.content-score {
  display: none;
  position: absolute;
  padding: 20px;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.content-score .container-score {
  position: relative;
  width: 100%;
  height: 92.70833%;
  max-height: 360px;
  max-width: 320px;
  margin: 0 auto;
  padding: 30px;
  text-align: center;
}
.content-score .wrapper-score {
  height: 100%;
}
@media only screen and (max-width: 568px) {
  .content-score .wrapper-score {
    overflow: auto;
  }
}
.content-score .container-score_upper,
.content-score .container-score_lower {
  padding: 15px 0;
}
.content-score .container-score_upper {
  border-bottom: 1px solid #ccc;
}
.content-score .list-coins {
  margin-bottom: 0;
}
.content-score .list-coins > img {
  vertical-align: middle;
}
.content-score .btn-submit, .content-score .btn-replay {
  margin: 15px auto 0;
  width: 62.5%;
  height: 35px;
  line-height: 33px;
  font-size: 14px;
  font-size: 1rem;
}
@media only screen and (max-width: 568px) {
  .content-score .btn-submit, .content-score .btn-replay {
    position: absolute;
    width: 100px;
    height: 30px;
    line-height: 28px;
    font-size: 11px;
    font-size: 0.78571rem;
    margin: 0;
  }
}
@media only screen and (max-width: 568px) {
  .content-score .btn-submit {
    right: 10px;
    bottom: 0;
  }
}
@media only screen and (max-width: 568px) {
  .content-score .btn-replay {
    right: 120px;
    bottom: 0;
  }
}

/*=====================================================

 Custom - Registration
  
 ======================================================*/
.content-registration {
  display: none;
  position: absolute;
  padding: 40px;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
@media only screen and (max-width: 568px) {
  .content-registration {
    padding: 20px;
  }
}
.content-registration .content-title {
  position: relative;
  width: 200px;
  margin: 0 auto;
  height: 50px;
  line-height: 48px;
  font-size: 18px;
  font-size: 1.28571rem;
  z-index: 2;
}
.content-registration .container-registration {
  position: relative;
  width: 100%;
  height: 92.70833%;
  max-height: 300px;
  max-width: 420px;
  margin: -25px auto;
  padding: 40px 15px;
}
.content-registration .wrapper-registration {
  height: 100%;
  overflow: auto;
}
.content-registration .field {
  position: relative;
  max-width: 100%;
  margin-bottom: 10px;
  vertical-align: middle;
}
.content-registration .field label {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  width: 28.64583%;
  font-size: 14px;
  font-size: 1rem;
}
@media only screen and (max-width: 568px) {
  .content-registration .field label {
    width: 100%;
  }
}
.content-registration .field input {
  position: relative;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  padding: 0 10px;
  background: #fff;
  border: 1px solid #ccc;
  width: 68.75%;
  height: 26px;
  line-height: 24px;
  font-size: 16px;
  font-size: 1rem;
}
@media only screen and (max-width: 568px) {
  .content-registration .field input {
    width: 100%;
  }
}
.content-registration .btn-register {
  margin: 15px 0 0 auto;
  width: 39.0625%;
  height: 35px;
  line-height: 33px;
  font-size: 14px;
  font-size: 1rem;
}
@media only screen and (max-width: 568px) {
  .content-registration .btn-register {
    position: absolute;
    width: 100px;
    right: 10px;
    bottom: 0;
    height: 30px;
    line-height: 28px;
    font-size: 11px;
    font-size: 0.78571rem;
    margin: 0;
  }
}

/*=====================================================

 Custom - Leaderboard
  
 ======================================================*/
.content-leaderboard {
  display: none;
  position: absolute;
  padding: 20px;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.content-leaderboard .title-heading {
  text-align: center;
  margin-bottom: 10px;
}
.content-leaderboard .content-title {
  position: relative;
  width: 200px;
  margin: 0 auto;
  height: 50px;
  line-height: 48px;
  font-size: 18px;
  font-size: 1.28571rem;
  z-index: 2;
}
.content-leaderboard .container-leaderboard {
  position: relative;
  width: 100%;
  height: 92.70833%;
  max-height: 360px;
  max-width: 320px;
  margin: -25px auto;
  padding: 40px 15px;
}
.content-leaderboard .wrapper-leaderboard {
  height: 100%;
  overflow: auto;
}
.content-leaderboard .list-player {
  padding-bottom: 10px;
  font-size: 12px;
  font-size: 0.85714rem;
}
.content-leaderboard .btn-close {
  position: absolute;
  font-family: verdana;
  font-weight: bold;
  top: 5px;
  right: 10px;
}
.content-leaderboard .txt-score {
  float: right;
}

/*=====================================================

 Custom - Canvas
  
 ======================================================*/
#playground {
  position: absolute;
  top: 0;
  right: 0;
  width: 768px;
  height: 480px;
  margin: 0 auto;
  cursor: pointer;  
}
@media only screen and (max-width: 767px) {
  #playground {
    width: 100%;
    height: auto;
  }
}

/*=====================================================

 Attempt to prevent tap selection in Mobile
  
 ======================================================*/
#playground, .content-hud{
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
