/*=====================================================

 Custom - Canvas
  
 ======================================================*/
 
#playground {
	display: none;
	position: absolute;
	top: 0; right: 0;
	width: 768px;
	height: 480px;
	margin: 0 auto;
	cursor: pointer;

	@include respond(all-phones) {
		width: 100%;
		height: auto;
	}
}