/*=====================================================

 Custom - HUD
  
 ======================================================*/

.content-hud {
  display: none;
  position: absolute;
  top: 20px; right: 20px;
  @include respond(landscape-phones) {
    top: auto;
    bottom: 5px;
    right: 5px;
  }

  .hud-icon { position: absolute; top: 0; right: 0; width: 35px; height: auto; text-align: center; color: $white; }

  .hud-distance, 
  .hud-coins,
  .hud-energy {
    position: relative;
    padding-right: 40px;
    @include line-and-height(35px);
    @include respond(landscape-phones) {
      float: left;
      margin-left: 15px;
    }
  }

  .energy-wrapper {
    position: relative;
    top: 5px;
    margin-right: -35px;
    width: 180px;
    height: 25px;
    border: 2px solid #cebe7d;
    @include border-radius(25px);
    overflow: hidden;

    .energy-bar {
      position: absolute;
      top: 0; right: 0;
      background-color: #049364;
      width: 100%;
      height: 100%;
    }
  }

  .txt-distance, .txt-coins {
    display: block;
    text-align: right;
    color: $white;
  }
}