/*=====================================================

 Custom - Welcome
  
 ======================================================*/

.content-welcome {
  //display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0 auto;  

  .logo {
    position: absolute;
    width: percentage(206px/768px);
    height: auto;
    top: 10px; right: 0; left: 0;
    margin: auto;
  }

  .btn-start, .btn-instruction, .btn-leaderboard {
    @extend .bg-wood;
    position: absolute;
    top: auto; right: 0; left: 0;
    margin: auto;
    width: 240px;
    @include line-and-height(79px);
    @include font-size(24px);

    @include respond(landscape-phones) {
      @include line-and-height(40px);
      @include font-size(14px);
    }
  }

  .btn-start {
    bottom: 160px;
    @include respond(landscape-phones) {
      bottom: 105px;
    }
  }

  .btn-instruction { 
    bottom: 85px;
    @include respond(landscape-phones) {
      bottom: 60px;
    }
  }

  .btn-leaderboard { 
    bottom: 15px; 
  }
}
