/*=====================================================

 Custom - Welcome
  
 ======================================================*/

.content-welcome {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0 auto;  

  .heading {
    position: absolute;
    width: percentage(394px/768px);
    top: 30px; right: 0; left: 0;
    height: auto;
    margin: auto;
    @include respond(landscape-phones) { top: 20px; }
  }

  .logo {
    position: absolute;
    top: 20px;
    left: 20px;
    @include respond(landscape-phones) { top: 10px; left: 10px; }
  }

  .btn-start, .btn-instruction, .btn-leaderboard {
    @extend .bg-wood;
    position: absolute;
    top: auto; right: 0; left: 0;
    margin: auto;
    width: 200px;
    @include line-and-height(50px);
    @include font-size(18px);

    @include respond(landscape-phones) {
      @include line-and-height(40px);
      @include font-size(14px);
    }
  }

  .btn-start {
    bottom: 140px;
    @include respond(landscape-phones) {
      bottom: 110px;
    }
  }

  .btn-instruction { 
    bottom: 85px;
    @include respond(landscape-phones) {
      bottom: 65px;
    }
  }

  .btn-leaderboard { 
    bottom: 30px;
    @include respond(landscape-phones) {
      bottom: 20px;
    }
  }

  .copyright {
    display: block;
    position: absolute;
    width: 100%;
    color: $white;
    bottom: 12px;
    text-align: center;
    font-family: Arial;
    font-weight: bold;
    @include font-size(10px);
    @include respond(landscape-phones) { bottom: 5px; }
  }
}
